@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Textil Corp</h1>
    <p>Disfruta de nuestra gran variedad de marcas y productos disponibles en nuestra tienda</p>
    <div class="slider">
        <ul>
            <li><img src="https://i.ebayimg.com/thumbs/images/g/Z7YAAOSwRJ9Xho6i/s-l300.jpg" height="350" width="350" /></li>
            <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSh0Q_W1WFS5baZMCvc5mf7-okMqa4jPe54sw&usqp=CAU" height="350" width="350" /></li>
            <li><img src="https://suertaso.com/wp-content/uploads/2023/02/1.2-cierres.jpg" height="350" width="350" /></li>
            <li><img src="https://www.lacobacha.com.ec/wp-content/uploads/Caja-de-ojalillos-x-1000-unidades.jpg" height="350" width="350" /></li>
        </ul>
    </div>
</div>